
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --cor-background:#F3F5FC;
    --cor-texto: #0A3871;
    --cor-output: #FFFFFF;
    --cor-texto-h1: #343A40;
    --cor-texto-h1p: #495057;
    --cor-botao-crypt: #0A3871;
    --cor-botao-encrypt: #D8DFE8;
    --cor-botao-crypthov: #1054a8;
    --cor-botao-encrypthov: #ecf4ff;

    --font-principal: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-background);
}

.principal {
    padding: 2%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.principal__logo {
    width: 140px;
    height: 48px;
}

.principal__input {
    box-sizing: border-box;
    width: 70%;
    margin: 1.5% 10px 0% 0%;
}

.principal__input__text {
    margin: 2% 0% 0% 0%;
    background-color: var(--cor-background);
    border-style: none;
    width: 80%;
    height: 75%;
    font-size: 2rem;
    line-height: 46px;
    color: var(--cor-texto);
    padding: 2%;
    font-family: var(--font-principal);
}

.principal__input__text::placeholder{
    color: var(--cor-texto);
}

.principal__input__btngroup {
    flex-flow: column wrap;
    box-sizing: border-box;
    width: 100%;
}

.principal__input__btngroup__alert {
    font-size: 12px;
    box-sizing: border-box;
    align-items: center;
    font-family: var(--font-principal);
    
}

.principal__input__btngroup__alert__img {
    height: 1rem;
    margin: 0px 4px -4px 0px;
}

.principal__input__btngroup__buttons{
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 1rem 0rem;
}

.principal__input__btngroup__button__criptograph, .principal__input__btngroup__button__uncriptograph  {
    border-radius: 16px;
    border-color: var(--cor-texto);
    border-style: solid;
    font-family: var(--font-principal);
    cursor: pointer;
}

.principal__input__btngroup__button__criptograph {
    padding: 1rem 6rem;
    background-color: var(--cor-botao-crypt);
    color: var(--cor-output);
}

.principal__input__btngroup__button__criptograph:hover{
    background-color: var(--cor-botao-crypthov);
}

.principal__input__btngroup__button__uncriptograph:hover{
    background-color: var(--cor-botao-encrypthov);
}


.principal__input__btngroup__button__uncriptograph {
    padding: 1rem 6rem;
    background-color: var(--cor-botao-encrypt);
    color: var();
}

.principal__output{
    line-break: anywhere;
    color: var(--cor-texto);
    font-family: var(--font-principal);
    font-size: 2.5rem;
    justify-content: left;
    display: flex;
    background-color: var(--cor-output);
    padding: 2%;
    border-radius: 16px;
    width: 30%;
}

.principal__output__text{
    box-sizing: border-box;
    white-space: pre-wrap;
}

.principal__output__text__group{
    align-self: center;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
}

.principal__output__text__group img{
    width: 80%;
}

.principal__output__text__group h1{
    text-align: center;
    font-size: 2rem;
}

.principal__output__text__group h2{
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 1110px) {

    body {
        height: 140vh;
    }

    .principal{
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }


    .principal__input{
        width: auto;
        margin: 2rem;
        height: 100%;
    }

    .principal__input__btngroup__buttons{
        width: 100%;

    }
     
    .principal__output{
        justify-content: center;
        width: 100%;
        height: 60%;
    }

    .principal__input__text{
        width: 100%;
    }

    .principal__output__text__group img {
        width: 0;
    } 
}

@media (max-width: 650px){

    body {
        height: 140vh;
    }

    .alura__img{
        justify-content: left;
    }

    .principal__logo{
        width: 32px;
        height: 48px;
        margin: 0px 0px 0px 10px;
    }

 
    .principal__input {
        width: 96%;
        height: 100%;
        margin: 2rem 0rem;
    }
    .principal__input__btngroup__buttons{
        
    flex-flow: column wrap;
        justify-content: center;
    }
    .principal__input__btngroup__button__criptograph, .principal__input__btngroup__button__uncriptograph  {
        padding: 1rem 2.5rem;
    }
    .principal__output{
        height: 20%;
    }
}

